In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier as DTC
from sklearn.metrics import confusion_matrix

In [2]:
ds=pd.read_csv(r"C:\Users\arunf\OneDrive\Documents\Data Science\Machine Learning\DataSet\iris (4).csv")

In [3]:
ds

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
ds.isnull().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [5]:
train,test=train_test_split(ds,test_size=0.2)

In [6]:
trainx=train.iloc[:,:4]
trainy=train.iloc[:,4]
testx=test.iloc[:,:4]
testy=test.iloc[:,4]

In [7]:
trainx

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
96            5.7          2.9           4.2          1.3
48            5.3          3.7           1.5          0.2
62            6.0          2.2           4.0          1.0
143           6.8          3.2           5.9          2.3
41            4.5          2.3           1.3          0.3
..            ...          ...           ...          ...
146           6.3          2.5           5.0          1.9
80            5.5          2.4           3.8          1.1
85            6.0          3.4           4.5          1.6
10            5.4          3.7           1.5          0.2
7             5.0          3.4           1.5          0.2

[120 rows x 4 columns]

In [8]:
trainy

96     versicolor
48         setosa
62     versicolor
143     virginica
41         setosa
          ...
146     virginica
80     versicolor
85     versicolor
10         setosa
7          setosa
Name: Species, Length: 120, dtype: object

In [9]:
dtc=DTC(criterion='entropy')

In [10]:
pred=dtc.fit(trainx,trainy).predict(testx)
cm=confusion_matrix(pred,testy)
acc=np.mean(pred==testy.values.flatten())

In [11]:
cm

array([[11,  0,  0],
       [ 0,  7,  1],
       [ 0,  1, 10]], dtype=int64)

In [13]:
mean=(11+7+10)/(11+7+10+1+1)
mean

0.9333333333333333

In [14]:
acc

0.9333333333333333