In [1]:
#sort a dictionary by values
a={1:10,2:20,3:5,4:15,5:2}
sorted_dict=sorted(a.items(),key=lambda x:x[1])
dict1=dict(sorted_dict)
print(dict1)

{5: 2, 3: 5, 1: 10, 4: 15, 2: 20}

In [2]:
a={1:2,2:7,3:5,4:10,5:1}
res={}
sa=sorted(a.values())
print(sa)
for i in sa:
    for k in a.keys():
        if a[k]==i:
            res[k]=a[k]
print(res)

[1, 2, 5, 7, 10]
{5: 1, 1: 2, 3: 5, 2: 7, 4: 10}

In [4]:
#remove duplicates from dictionary
a={1:10,2:20,3:5,4:15,5:20}
b=[]
c={}
for key,value in a.items():
    if value not in b:
        print(value)
        b.append(value)
        c[key]=value
print(c)

10
20
5
15
{1: 10, 2: 20, 3: 5, 4: 15}

In [4]:
#max and min value in dictionary
a={1:2,2:3,3:4,4:5,5:6}
values=[]
for key,value in a.items():
    values.append(value)
print(min(values))
print(max(values))

2
6

In [5]:
#map 2 list in a dictionary
a=[1,2,3,4,5]
b=[2,4,6,8,10]
c=dict(zip(a,b))
print(c)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [7]:
#multiply all the items in a dictionary
a={1:2,2:4,3:6}
mul=1
for i in a.values():
    mul=mul*i
print(mul)

48

In [8]:
#merge 2 dictionaries
a={1:1,2:2,3:3}
b={4:4,5:5,6:6}
a.update(b)
print(a)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

In [9]:
#check wheather a key already exist a dictionary or not
n=int(input("enter the number to check is it a key in dictionary:"))
a={1:5,2:2,3:3}
if n in a.keys():
    print(n, " is a key")
else:
    print(n, "is not a key")

enter the number to check is it a key in dictionary:2
2  is a key

In [10]:
#add a key to dictionary
a={1:5,2:2,3:3}
a[4]=6
a[5]=10
print(a)

{1: 5, 2: 2, 3: 3, 4: 6, 5: 10}

In [11]:
#using update method
dict1={1:'arun',2:'aju'}
dict1.update({3:'monuttan'})
print(dict1)

{1: 'arun', 2: 'aju', 3: 'monuttan'}

In [12]:
#sum all the items in a dictionary
a={1:2,2:4,3:6,4:8}
sum=0
for i in a.values():
    sum=sum+i
print(sum)

20

In [13]:
#keys from 1 to 15 and values are square of keys
a=dict()
for key in range(1,16):
    value=key**2
    a[key]=value
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [14]:
#dictionary from string
s = 'A - 13, B - 14, C - 29, M - 99'
dict(e.split(' - ') for e in s.split(','))

{'A': '13', ' B': '14', ' C': '29', ' M': '99'}

In [16]:
#Create a Nested Dictionary
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'anu', 'age': '34', 'sex': 'Female' }
         }

print(people[1]['age'])

27

In [17]:
#Access elements of a Nested Dictionary
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

people[3] = {}

people[3]['name'] = 'Luna'
people[3]['age'] = '24'
people[3]['sex'] = 'Female'
people[3]['married'] = 'No'

print(people[3])

{'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}

In [7]:
#Add another dictionary to the nested dictionary
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}}

people[4] = {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}
print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}, 4: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}

In [19]:
#Delete elements from a Nested Dictionary
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'},
          4: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}

del people[3]['married']
del people[4]['married']

print(people[3])
print(people[4])

{'name': 'Luna', 'age': '24', 'sex': 'Female'}
{'name': 'Peter', 'age': '29', 'sex': 'Male'}

In [20]:
#Example 6: How to delete dictionary from a nested dictionary?
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female'},
          4: {'name': 'Peter', 'age': '29', 'sex': 'Male'}}

del people[3], people[4]
print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [21]:
#iterating through nested dictionary
people={1:{'name':'arun','age':'25'},
        2:{'name':'aju','age':'24'}}
for p_id,p_info in people.items():
    print("Person ID:",p_id)
    for key in p_info:
        print(key + ':' ,p_info[key])

Person ID: 1
name: arun
age: 25
Person ID: 2
name: aju
age: 24