In [8]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier as KNC
from sklearn import preprocessing

In [9]:
ds=pd.read_csv(r"C:\Users\arunf\OneDrive\Documents\Data Science\Machine Learning\DataSet\Mall_Customers (3).csv")

In [10]:
ds

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [11]:
ds.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [12]:
le=preprocessing.LabelEncoder()

In [13]:
ds['Gender']=le.fit_transform(ds['Gender'].astype(str))

In [14]:
ds

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1       1   19                  15                      39
1             2       1   21                  15                      81
2             3       0   20                  16                       6
3             4       0   23                  16                      77
4             5       0   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196       0   35                 120                      79
196         197       0   45                 126                      28
197         198       1   32                 126                      74
198         199       1   32                 137                      18
199         200       1   30                 137                      83

[200 rows x 5 columns]

In [15]:
train,test=train_test_split(ds,test_size=0.2)

In [17]:
trainx=train.iloc[:,1:4]
trainy=train.iloc[:,4]
testx=test.iloc[:,1:4]
testy=test.iloc[:,4]

In [18]:
trainx

     Gender  Age  Annual Income (k$)
57        1   69                  44
142       0   28                  76
120       1   27                  67
12        0   58                  20
100       0   23                  62
..      ...  ...                 ...
155       0   27                  78
15        1   22                  20
29        0   23                  29
51        1   33                  42
23        1   31                  25

[160 rows x 3 columns]

In [19]:
trainy

57     46
142    40
120    56
12     15
100    41
       ..
155    89
15     79
29     87
51     60
23     73
Name: Spending Score (1-100), Length: 160, dtype: int64

In [20]:
knn=KNC()

In [21]:
pred=knn.fit(trainx,trainy).predict(testx)

C:\Users\arunf\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [22]:
acc=np.mean(pred==testy.values.flatten())

In [23]:
acc

0.075