In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier as KNC

In [3]:
ds=pd.read_csv(r"C:\Users\arunf\OneDrive\Documents\Data Science\Machine Learning\DataSet\iris (4).csv")

In [4]:
ds

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
ds.isnull().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [6]:
train,test=train_test_split(ds,test_size=0.2)

In [7]:
trainx=train.iloc[:,:4]
trainy=train.iloc[:,4]
testx=test.iloc[:,:4]
testy=test.iloc[:,4]

In [8]:
trainx

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
117           7.7          3.8           6.7          2.2
119           6.0          2.2           5.0          1.5
129           7.2          3.0           5.8          1.6
34            4.9          3.1           1.5          0.2
14            5.8          4.0           1.2          0.2
..            ...          ...           ...          ...
93            5.0          2.3           3.3          1.0
5             5.4          3.9           1.7          0.4
87            6.3          2.3           4.4          1.3
17            5.1          3.5           1.4          0.3
11            4.8          3.4           1.6          0.2

[120 rows x 4 columns]

In [9]:
trainy

117     virginica
119     virginica
129     virginica
34         setosa
14         setosa
          ...
93     versicolor
5          setosa
87     versicolor
17         setosa
11         setosa
Name: Species, Length: 120, dtype: object

In [10]:
knn=KNC()

In [12]:
pred=knn.fit(trainx,trainy).predict(testx)

C:\Users\arunf\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [13]:
acc=np.mean(pred==testy.values.flatten())

In [14]:
acc

0.9666666666666667