In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
ds=pd.read_csv(r"C:\Users\arunf\OneDrive\Documents\Data Science\Machine Learning\DataSet\iris (4).csv")

In [3]:
ds

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
ds.isnull().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [5]:
train,test=train_test_split(ds,test_size=0.2)

In [6]:
trainx=train.iloc[:,:4]
trainy=train.iloc[:,4]
testx=test.iloc[:,:4]
testy=test.iloc[:,4]

In [7]:
trainx

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
126           6.2          2.8           4.8          1.8
92            5.8          2.6           4.0          1.2
19            5.1          3.8           1.5          0.3
68            6.2          2.2           4.5          1.5
43            5.0          3.5           1.6          0.6
..            ...          ...           ...          ...
37            4.9          3.6           1.4          0.1
114           5.8          2.8           5.1          2.4
90            5.5          2.6           4.4          1.2
113           5.7          2.5           5.0          2.0
11            4.8          3.4           1.6          0.2

[120 rows x 4 columns]

In [8]:
trainy

126     virginica
92     versicolor
19         setosa
68     versicolor
43         setosa
          ...
37         setosa
114     virginica
90     versicolor
113     virginica
11         setosa
Name: Species, Length: 120, dtype: object

In [9]:
lr=LogisticRegression()

In [10]:
pred=lr.fit(trainx,trainy).predict(testx)
acc=np.mean(pred==testy.values.flatten())

C:\Users\arunf\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [11]:
acc

0.9666666666666667