In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [2]:
ds=pd.read_csv(r"C:\Users\arunf\OneDrive\Documents\Data Science\Machine Learning\DataSet\customer_data.csv")

In [3]:
ds

,label,id,fea_1,fea_2,fea_3,fea_4,fea_5,fea_6,fea_7,fea_8,fea_9,fea_10,fea_11
0,1,54982665,5,1245.5,3,77000.0,2,15,5,109,5,151300,244.948974
1,0,59004779,4,1277.0,1,113000.0,2,8,-1,100,3,341759,207.173840
2,0,58990862,7,1298.0,1,110000.0,2,11,-1,101,5,72001,1.000000
3,1,58995168,7,1335.5,1,151000.0,2,11,5,110,3,60084,1.000000
4,0,54987320,7,NaN,2,59000.0,2,11,5,108,4,450081,197.403141
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,0,58988196,5,1289.0,1,173000.0,2,15,5,112,3,350702,200.000000
1121,0,58987926,5,NaN,2,50000.0,2,15,5,108,4,450000,169.000000
1122,0,58995381,7,1220.0,3,76000.0,2,11,2,90,5,71002,1.000000
1123,0,58998054,4,1250.0,3,137000.0,2,8,5,90,5,72000,1.000000
1124,0,54989781,4,1415.0,3,93000.0,2,8,5,113,4,151300,273.861279

In [4]:
ds.isnull().sum()

label       0
id          0
fea_1       0
fea_2     149
fea_3       0
fea_4       0
fea_5       0
fea_6       0
fea_7       0
fea_8       0
fea_9       0
fea_10      0
fea_11      0
dtype: int64

In [5]:
a=ds['fea_2'].mean()
a

1283.9113729508197

In [6]:
ds['fea_2']=ds['fea_2'].fillna(a)

In [7]:
ds.isnull().sum()

label     0
id        0
fea_1     0
fea_2     0
fea_3     0
fea_4     0
fea_5     0
fea_6     0
fea_7     0
fea_8     0
fea_9     0
fea_10    0
fea_11    0
dtype: int64

In [8]:
train,test=train_test_split(ds,test_size=0.2)

In [9]:
trainx=train.iloc[:,2:13]
trainy=train.iloc[:,0]
testx=test.iloc[:,2:13]
testy=test.iloc[:,0]

In [10]:
trainx

,fea_1,fea_2,fea_3,fea_4,fea_5,fea_6,fea_7,fea_8,fea_9,fea_10,fea_11
935,5,1323.500000,3,220000.0,2,15,5,78,5,60002,200.000000
1114,5,1272.500000,3,108000.0,2,15,5,113,4,450015,200.000000
653,5,1259.000000,3,80000.0,2,15,5,112,3,350000,223.606798
973,7,1241.000000,3,71000.0,2,11,-1,80,5,450071,187.082869
468,5,1265.000000,3,135000.0,2,15,5,100,5,151300,231.721816
...,...,...,...,...,...,...,...,...,...,...,...
915,4,1331.000000,3,341000.0,2,8,9,114,5,72001,345.738340
198,4,1179.500000,3,56000.0,2,8,5,99,3,72000,234.520788
776,4,1283.911373,2,94000.0,2,8,-1,109,5,340006,200.000000
166,7,1266.500000,3,130000.0,2,11,9,100,5,60005,173.205081
170,7,1266.500000,3,120000.0,1,11,9,110,3,60029,316.227766

In [11]:
trainy

935     0
1114    0
653     0
973     1
468     0
       ..
915     0
198     0
776     1
166     0
170     0
Name: label, Length: 900, dtype: int64

In [12]:
gnb=GaussianNB()
#no multinomial hence it have negative values
bnb=BernoulliNB()

In [13]:
pred_gnb=gnb.fit(trainx,trainy).predict(testx)
pred_bnb=bnb.fit(trainx,trainy).predict(testx)

In [14]:
cm1=confusion_matrix(pred_gnb,testy)
accgnb=np.mean(pred_gnb==testy.values.flatten())

In [15]:
cm1

array([[182,  43],
       [  0,   0]], dtype=int64)

In [16]:
mean=(182)/(182+43)
mean

0.8088888888888889

In [17]:
accgnb

0.8088888888888889

In [18]:
cm2=confusion_matrix(pred_bnb,testy)
accbnb=np.mean(pred_bnb==testy.values.flatten())

In [19]:
cm2

array([[182,  43],
       [  0,   0]], dtype=int64)

In [20]:
mean=(182)/(182+43)
mean

0.8088888888888889

In [21]:
accbnb

0.8088888888888889