In [2]:
#patter 1

for i in range(1,6):
    for j in range(1,6):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
#pattern 2

for i in range(1,6):
    for j in range(1,6):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [6]:
#pattern 3

for i in range(1,6):
    for j in range(1,6):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [7]:
#pattern 4

for i in range(5,0,-1):
    for j in range(5,0,-1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [8]:
#pattern 5
for i in range(5,0,-1):
    for j in range(5,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [12]:
#pattern 6

k=1
for i in range(1,6):
    for j in range(1,6):
        print("{:2d}".format(k),end=" ")
        k=k+1
    print()

 1  2  3  4  5
 6  7  8  9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [13]:
#pattern 7

k=1
for i in range(1,6):
    for j in range(1,6):
        print("{:2d}".format(k),end=" ")
        k=k+2
    print()

 1  3  5  7  9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49

In [14]:
#pattern 8

k=2
for i in range(1,6):
    for j in range(1,6):
        print("{:2d}".format(k),end=" ")
        k=k+2
    print()

 2  4  6  8 10
12 14 16 18 20
22 24 26 28 30
32 34 36 38 40
42 44 46 48 50

In [15]:
#pattern 9

for i in range(1,6):
    for j in range(1,6):
        print("{:2d}".format(i*j),end=" ")
    print()

 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

In [21]:
#pattern 10
n=6
for i in range(1,n):
    k=1
    for j in range(1,n+1):
        if j%2!=0:
            print(k,end=" ")
            k=k+1
        else:
            print(i,end=" ")
    print()

1 1 2 1 3 1
1 2 2 2 3 2
1 3 2 3 3 3
1 4 2 4 3 4
1 5 2 5 3 5

In [24]:
for x in range(1,6):
    for y in range(1,4):
        print("{}{}".format(y,x),end="")
    print()

112131
122232
132333
142434
152535

In [1]:
#pattern 11

n=6
for i in range(1,n):
    k=1
    for j in range(1,n+1):
        if j%2==0:
            print(k,end=" ")
            k=k+1
        else:
            print(i,end=" ")
    print()

1 1 1 2 1 3
2 1 2 2 2 3
3 1 3 2 3 3
4 1 4 2 4 3
5 1 5 2 5 3

In [2]:
#pattern 12

for i in range(1,6):
    k=i
    for j in range(1,6):
        print("{:2d}".format(k),end=" ")
        k=k+5
    print()

 1  6 11 16 21
 2  7 12 17 22
 3  8 13 18 23
 4  9 14 19 24
 5 10 15 20 25

In [4]:
#pattern 13

n=5
for i in range(1,n+1):
    x=i
    y=n-i+1
    for j in range(1,n+1):
        if(j%2!=0):
            print("{:2d}".format(x),end=" ")
        else:
            print("{:2d}".format(y),end=" ")
            
        x=x+n
        y=y+n
    print()

 1 10 11 20 21
 2  9 12 19 22
 3  8 13 18 23
 4  7 14 17 24
 5  6 15 16 25

In [ ]:
#pattern 14

In [5]:
#pattern 15

n=5
for i in range(5,0,-1):
    x=i
    y=n-i+1
    for j in range(5,0,-1):
        if(j%2!=0):
            print("{:2d}".format(x),end=" ")
        else:
            print("{:2d}".format(y),end=" ")
            
        x=x+n
        y=y+n
    print()

 5  6 15 16 25
 4  7 14 17 24
 3  8 13 18 23
 2  9 12 19 22
 1 10 11 20 21