In [1]:
#create a set from list
a=[1,2,3,4,5]
print(set(a))

{1, 2, 3, 4, 5}

In [2]:
#create a set from tuple
a=(1,2,3,4,5)
print(set(a))

{1, 2, 3, 4, 5}

In [4]:
#access a specific value in set
a={1,2,3,4,5}
b=list(a)
print(b[1])

2

In [7]:
#add items to set using add method
a={1,2,3,4}
a.add(5)
print(a)

{1, 2, 3, 4, 5}

In [9]:
#add items using update method
a={1,2,3,4,5}
a.update([6,7,8,9])
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
#remove item from set using discard method
a={1,2,3,4,5,6}
a.discard(4)
print(a)

{1, 2, 3, 5, 6}

In [11]:
#remove item from set using remove method
a={1,2,3,4,5,6}
a.remove(4)
print(a)

{1, 2, 3, 5, 6}

In [13]:
#union operation on set
a={1,2,3}
b={4,5,6}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6}

In [14]:
#intersection operation on set
a={1,2,3,4,5}
b={4,5,6}
c=a.intersection(b)
print(c)

{4, 5}

In [16]:
#difference operation on set
a={1,2,3,4,5,6}
b={1,2,3}
c=a.difference(b)
print(c)

{4, 5, 6}

In [18]:
#symmetric difference
a={1,2,3,4,5,6}
b={1,2,3,7,8}
c=a.symmetric_difference(b)
print(c)

{4, 5, 6, 7, 8}

In [20]:
n=int(input("enter the number"))
a={1,2,3,4,5,6}
if n in a:
    print(n ,"exist in set")
else:
    print(n, "doesnot exist in set")

enter the number7
7 doesnot exist in set

In [21]:
#clearing a set
a={1,2,3,4}
a.clear()
print(a)

set()