In [23]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [24]:
ds=pd.read_csv(r"C:\Users\arunf\OneDrive\Documents\Data Science\Machine Learning\DataSet\customer_data.csv")

In [25]:
ds

,label,id,fea_1,fea_2,fea_3,fea_4,fea_5,fea_6,fea_7,fea_8,fea_9,fea_10,fea_11
0,1,54982665,5,1245.5,3,77000.0,2,15,5,109,5,151300,244.948974
1,0,59004779,4,1277.0,1,113000.0,2,8,-1,100,3,341759,207.173840
2,0,58990862,7,1298.0,1,110000.0,2,11,-1,101,5,72001,1.000000
3,1,58995168,7,1335.5,1,151000.0,2,11,5,110,3,60084,1.000000
4,0,54987320,7,NaN,2,59000.0,2,11,5,108,4,450081,197.403141
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,0,58988196,5,1289.0,1,173000.0,2,15,5,112,3,350702,200.000000
1121,0,58987926,5,NaN,2,50000.0,2,15,5,108,4,450000,169.000000
1122,0,58995381,7,1220.0,3,76000.0,2,11,2,90,5,71002,1.000000
1123,0,58998054,4,1250.0,3,137000.0,2,8,5,90,5,72000,1.000000
1124,0,54989781,4,1415.0,3,93000.0,2,8,5,113,4,151300,273.861279

In [26]:
ds.isnull().sum()

label       0
id          0
fea_1       0
fea_2     149
fea_3       0
fea_4       0
fea_5       0
fea_6       0
fea_7       0
fea_8       0
fea_9       0
fea_10      0
fea_11      0
dtype: int64

In [27]:
a=ds['fea_2'].mean()
a

1283.9113729508197

In [28]:
ds['fea_2']=ds['fea_2'].fillna(a)

In [29]:
ds.isnull().sum()

label     0
id        0
fea_1     0
fea_2     0
fea_3     0
fea_4     0
fea_5     0
fea_6     0
fea_7     0
fea_8     0
fea_9     0
fea_10    0
fea_11    0
dtype: int64

In [30]:
train,test=train_test_split(ds,test_size=0.2)

In [31]:
trainx=train.iloc[:,2:13]
trainy=train.iloc[:,0]
testx=test.iloc[:,2:13]
testy=test.iloc[:,0]

In [32]:
trainx

,fea_1,fea_2,fea_3,fea_4,fea_5,fea_6,fea_7,fea_8,fea_9,fea_10,fea_11
1018,7,1244.000000,3,84000.0,2,11,5,108,4,72000,1.000000
190,5,1283.911373,3,94000.0,2,15,5,113,4,60057,193.636257
1032,7,1287.500000,1,119000.0,2,11,5,85,5,60031,187.082869
840,4,1302.500000,3,410000.0,2,8,9,84,5,60018,1.000000
1008,4,1290.500000,3,130000.0,2,8,9,114,4,60053,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
880,4,1283.911373,2,65000.0,2,8,9,112,5,72001,206.661559
1059,7,1304.000000,1,111000.0,2,11,9,113,4,151300,1.000000
729,7,1275.500000,3,90000.0,2,11,5,110,4,450015,212.132034
368,7,1323.500000,1,152000.0,2,11,5,98,5,151008,1.000000
874,4,1337.000000,3,410000.0,2,8,5,83,5,60091,1.000000

In [33]:
trainy

1018    0
190     0
1032    0
840     0
1008    0
       ..
880     0
1059    0
729     0
368     1
874     0
Name: label, Length: 900, dtype: int64

In [34]:
svm_l=SVC(kernel='linear')

In [35]:
pred_l=svm_l.fit(trainx,trainy).predict(testx)
acc_l=np.mean(pred_l==testy.values.flatten())

In [36]:
acc_l

0.8622222222222222

In [37]:
svm_p=SVC(kernel='poly')

In [38]:
pred_p=svm_p.fit(trainx,trainy).predict(testx)
acc_p=np.mean(pred_p==testy.values.flatten())

In [39]:
acc_p

0.8666666666666667

In [40]:
svm_rbf=SVC(kernel='rbf')

In [41]:
pred_rbf=svm_rbf.fit(trainx,trainy).predict(testx)
acc_rbf=np.mean(pred_rbf==testy.values.flatten())

In [42]:
acc_rbf

0.8666666666666667

In [43]:
svm_s=SVC(kernel='sigmoid')

In [44]:
pred_s=svm_s.fit(trainx,trainy).predict(testx)
acc_s=np.mean(pred_s==testy.values.flatten())

In [45]:
acc_s

0.7733333333333333