In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [3]:
ds=pd.read_csv(r"C:\Users\arunf\OneDrive\Documents\Data Science\Machine Learning\DataSet\iris (4).csv")

In [4]:
ds

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
ds.isnull().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [6]:
train,test=train_test_split(ds,test_size=0.2)

In [7]:
trainx=train.iloc[:,:4]
trainy=train.iloc[:,4]
testx=test.iloc[:,:4]
testy=test.iloc[:,4]

In [8]:
trainx

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
61            5.9          3.0           4.2          1.5
116           6.5          3.0           5.5          1.8
103           6.3          2.9           5.6          1.8
33            5.5          4.2           1.4          0.2
139           6.9          3.1           5.4          2.1
..            ...          ...           ...          ...
124           6.7          3.3           5.7          2.1
49            5.0          3.3           1.4          0.2
107           7.3          2.9           6.3          1.8
102           7.1          3.0           5.9          2.1
86            6.7          3.1           4.7          1.5

[120 rows x 4 columns]

In [9]:
trainy

61     versicolor
116     virginica
103     virginica
33         setosa
139     virginica
          ...
124     virginica
49         setosa
107     virginica
102     virginica
86     versicolor
Name: Species, Length: 120, dtype: object

In [10]:
svm_l=SVC(kernel='linear')

In [12]:
pred_l=svm_l.fit(trainx,trainy).predict(testx)
acc_l=np.mean(pred_l==testy.values.flatten())

In [13]:
acc_l

0.9333333333333333

In [15]:
svm_p=SVC(kernel='poly')

In [16]:
pred_p=svm_p.fit(trainx,trainy).predict(testx)
acc_p=np.mean(pred_p==testy.values.flatten())

In [17]:
acc_p

0.9333333333333333

In [18]:
svm_rbf=SVC(kernel='rbf')

In [19]:
pred_rbf=svm_rbf.fit(trainx,trainy).predict(testx)
acc_rbf=np.mean(pred_rbf==testy.values.flatten())

In [20]:
acc_rbf

0.9333333333333333

In [21]:
svm_s=SVC(kernel='sigmoid')

In [22]:
pred_s=svm_s.fit(trainx,trainy).predict(testx)
acc_s=np.mean(pred_s==testy.values.flatten())

In [24]:
acc_s

0.23333333333333334